# Build artifacts
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Ensure GMC itself is never checked in, even if we're testing a non-marketplace build
Plugins/GMC

# IDE artifacts
.idea/
.vs/
.vsconfig
*.pro
*.pri
*.kdev4
*.sln
*.DotSettings
*.DotSettings.user

# Version Control debris
p4config.txt
hidden_changes.conf
ignore.conf
debug.log

# Unix backups
*~

# MacOS debris
.DS_Store
Content/Characters
